<head>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	
</head>


<h1 class="nearby_crime">Nearby Crime</h1>



<% @crimes.each do |crime| %>
<ul class="crime_event">
	<li class="crime_address"><%= crime.address %></li>
	<li class="crime_type"><span class="name">Crime Type:</span> <span class="value"><%= crime.crime_type %></span></li>
	<li class="crime_description"><span class="name">Description:</span> <span class="value"><%= crime.description %></span></li>
	<li class="location_type"><span class="name">Location Type:</span> <span class="value"><%= crime.location_type %></span></li>
	<li class="date"><%= crime.date %></li>
	<li class="proximity"><%= crime.distance.to_f.round(2) %> mi.</li>
</ul>
<% end %>



